<p>For level 1, the recommendation is to verify fixity upon ingest into your repository or movement into your system. This can only be done if fixity information is provided for the content. It's essentially taking the existing hash value and comparing it to a second hash value generated either after a file is moved or after a period of time has passed.</p>
<p class="center"><a src="images/fixity-deep00.jpg"><img class="center" src="images/fixity-deep00.jpg"></a></p>
<p class="center">Verifying MD5 checksums</p>
<p>If fixity information does not exist for a file, it is important to establish that trust level from this point forward. Creating fixity information for a file can be accomplished a number of ways.</p>
<p>BagIt is a widely used packaging format developed as part of the National Digital Information Infrastructure and Preservation Program to accurately transfer digital content across networks and file systems.</p>
<p>The BagIt specification is organized around the notion of a &ldquo;bag&rdquo;. A bag is a named file system directory that minimally contains:</p>
<ul>
<li>a &ldquo;data&rdquo; directory that includes the digital content being preserved. Files can also be placed in subdirectories, but empty directories are not supported</li>
</ul>
<ul>
<li>at least one manifest file that itemizes the filenames present in the &ldquo;data&rdquo; directory, as well as their checksums. The particular checksum algorithm is included as part of the manifest filename. For instance, a manifest file with SHA-256 checksums is named &ldquo;manifest-sha256.txt&rdquo;</li>
</ul>
<ul>
<li>a &ldquo;bagit.txt&rdquo; file that identifies the directory as a bag, the version of the BagIt specification that it adheres to, and the character encoding used for tag files</li>
</ul>
<p>The specification allows for several optional tag files (in addition to the manifest). The specification defines the following optional tag files:</p>
<ul>
<li>a &ldquo;bag-info.txt&rdquo; file which details metadata for the bag, using colon-separated key/value pairs</li>
<li>a tag manifest file which lists tag files and their associated checksums (e.g. &ldquo;tagmanifest-md5.txt&rdquo;)</li>
</ul>
<p>On receipt of a bag, BagIt can examine the manifest file to make sure that the files are present and that their checksums are correct. This allows for accidentally removed or corrupted files to be identified. Below is an example of a bag that encloses one file of payload.</p>
<p class="center"><a src="images/fixity-deep05.jpg"><img class="center" src="images/fixity-deep05.jpg"></a></p>

<p  class="center">Example of a bag</p>
<p>The Library of Congress produced a short video about BagIt in 2009: <a href="https://www.youtube.com/watch?v=l3p3ao_JSfo">https://www.youtube.com/watch?v=l3p3ao_JSfo</a></p>
<p class="center"><a src="images/fixity-deep02.jpg"><img class="center" src="images/fixity-deep02.jpg"></a></p>
<p class="center">Bagger Interface</p>