<p>If fixity information does not exist for a file, it is important to establish that trust level from this point forward. Creating fixity information for a file can be accomplished a number of ways using tools ranging from simple user-interface based software to comprehensive command-line interface programs.</p>
<p>It is recommended to verify fixity upon ingest into your repository or movement into your system. This can only be done if fixity information is provided for the content. It is essentially taking the existing hash value and comparing it to a second hash value generated either after a file is moved or after a period of time has passed. Hash values that are exactly the same indicate that no changes, intentional or accidental, have been made to the file.</p>
<p class="center"><a  href="/images/fixity1.jpg"><img class="center" src="/images/fixity1.jpg"></a></p>
<p class="center">Verifying MD5 checksums</p>
<p>Fixity tools:</p>
<p>Command-line: </p>
<ul>
<li><a href="https://github.com/LibraryOfCongress/bagit-java">Library of Congress BagIt</a> (Java)</li>
<li><a href="https://github.com/LibraryOfCongress/bagit-python">Library of Congress BagIt</a> (Python) </li>
</ul>
<p>Cross-platform GUI:</p>
<ul>
<li><a href="https://github.com/usnationalarchives/File-Analyzer">NARA File Analyzer</a></li>
<li><a href="https://www.avpreserve.com/tools/fixity/">AVPreserve Fixity</a></li>
<li><a href="https://github.com/LibraryOfCongress/bagger">Library of Congress Bagger</a></li>
<li><a href="http://quickhash-gui.org">Quickhash</a></li>
</ul>
<p>Windows GUI:</p>
<ul>
<li><a href="http://www.programmingunlimited.net/siteexec/content.cgi?page=fv">FileVerifier++</a></li>
<li><a href="http://www.md5summer.org">MD5summer</a></li>
<li><a href="https://www.microsoft.com/en-us/download/details.aspx?id=11533">Microsoft File Checksum Integrity Verifier</a></li>
</ul>
<p>Mac GUI:</p>
<ul>
<li><a href="http://www.julifos.com/soft/checksum/">checkSum+</a></li>
</ul>
