<p>Most modern file systems allow for some level of user/administration control. The majority of Orbis-Cascade members have already achieved this level of information security. The best tools for moving from level 0 to level 1 are most likely interpersonal:</p>
    <ul>
        <li>Get to know who manages your computers. </li>
<li>If you manage your own computer, an easy first step is to make sure your computer is password protected.</li>
<li>Ask DAMS managers to give you a list of who has access to what files. </li>
<li>Talk with your colleagues to find out the answer to these questions:
    <ul><li>Who works with your digital files?</li>
    <li> Who has access to content?</li>
    <li> And, most crucially, <b>who has permissions to delete or move content from one place to another</b>? </li></ul>
</li></ul>

<p>Much of this information can be ascertained and described in the production of a digital preservation plan.</p>