<p><em>When you can give input into the creation of digital files encourage use of a limited set of known open formats and codecs</em></p>

<p>Provide users with basic file naming guidelines: &nbsp;use only letters, digits and underscores. &nbsp;No spaces, ampersands, apostrophes, parentheses, etc. </p>

<p>Provide users with recommended file formats. &nbsp;</p>
<p>For guidelines on determining sustainable formats, see : &ldquo;<a href="http://www.digitalpreservation.gov/formats/index.shtml">Sustainability of Digital Formats Planning for Library of Congress Collections&rdquo;</a>. &nbsp;&nbsp;The &lsquo;Content Categories&rsquo; section is particularly useful. See a sample table and links to other recommended format tables in the &ldquo;in depth&rdquo; section of this website.</p>