<p>Start by identifying file formats that don&rsquo;t conform to your recommended list of preservation formats.</p>
<p>Below are a few select tools, many freely available, to perform format migrations.</p>

<table class="center">
<tbody>
<tr>
    <th>
File types
</th>
<th>
Command Line and Batch Editing tools
</th>
<th>
Graphical User Interface for small number of conversions, though some programs do have batch processing features.
</th>
</tr>
<tr>
<td>
Image Files (including PDF)
</td>
<td>
<a href="https://www.imagemagick.org">ImageMagick</a>
</td>
<td>
<a href="https://www.gimp.org/">Gimp</a> , <a href="http://pixlr.com/editor/">Pixlr</a>, <a href="http://www.adobe.com/Photoshop">Photoshop</a>, &nbsp;<a href="http://www.irfanview.com/">IrfanView</a>
</td>
</tr>
<tr>
<td>
PDF files
</td>
<td>
<a href="http://www.ghostscript.com/">Ghostscript</a>
</td>
<td>
<a href="https://acrobat.adobe.com/us/en/">Adobe Acrobat</a>
</td>
</tr>
<tr>
<td>
Audio/Video Files
</td>
<td>
<a href="https://www.ffmpeg.org/">FFmpeg</a>
</td>
<td>
<a href="http://www.videolan.org/vlc/index.html">VLC Media Player</a>, &nbsp;<a href="https://amiaopensource.github.io/ffmprovisr/">ffmprovisr</a>
</td>
</tr>
<tr>
<td>
Illustrator vector graphic files
</td>
<td>
<a href="https://www.imagemagick.org">ImageMagick</a>
</td>
<td>
<a href="https://inkscape.org">Inkscape</a>
</td>
</tr>
</tbody>
</table>