

<h4>Formats</h4>
<p>Provide users with recommended file formats:  </p>
<p>For guidelines on determining sustainable formats, see : "<a href="http://www.digitalpreservation.gov/formats/index.shtml">Sustainability of Digital Formats Planning for Library of Congress Collections"</a>. The 'Content Categories' section is particularly useful. </p>

<p>An example set of formats is provided in the <a href="#" data-toggle="modal" data-target="#myModal">Table of Preferred Formats</a> table linked above in the summary. It is loosely based off of the 
<a href="http://bentley.umich.edu/about/what-we-do/digital-curation-strategies-and-procedures/680-2/">Bentley Historical Library "Format Conversion Strategies For Long-Term Preservation."</a>
</p>
<p>See other useful example tables at:</p>
<ul>
<li><a href="https://deepblue.lib.umich.edu/static/about/deepbluepreservation.html">University of Michigan Deep Blue Preservation and Format Support Policy</a></li>
<li><a href="http://etd.vt.edu/howto/accept.html">Virginia Tech Digital Library and Archives</a></li>
</ul>

<h4>File Naming</h4>
<p>Provide users with ‘best practice’ guidelines for naming files:</p>
<ul><li>Use only letters, digits, hyphens and underscores.  No spaces, ampersands, apostrophes, parentheses, etc.  
    </li>
    <li>Keep names short and easy to read, using camel case to distinguish words (e.g.  StudentGovernmentBylaws.docx)
        </li>
    <li>When including dates in filenames, use iso 8601 date format.  This greatly enhances sorting.  (e.g. MeetingNotes_2014-03-27.docx)
        </li>
    <li>Think about how file names will sort when naming large numbers of files, e.g. considering using leading zeros to bring files to the top, or adjust numbers for sorting, e.g.
Page2.docx will often sort after Page100.docx.   Consider using ‘Page002.docx’ instead. 
        </li>
    </ul>
    <p><em>See <a target="_blank" href="https://library.stanford.edu/spc/university-archives/managing-university-records/file-naming-guidelines">Stanford Libraries’ File Naming Guidelines</a> for additional suggestions. </em></p>


