<p>Provide users with basic file naming guidelines: use only letters, digits and underscores. No spaces, ampersands, apostrophes, parentheses, etc. </p>

<p>Provide users with recommended file formats:  </p>
<p>For guidelines on determining sustainable formats, see : "<a href="http://www.digitalpreservation.gov/formats/index.shtml">Sustainability of Digital Formats Planning for Library of Congress Collections"</a>. The 'Content Categories' section is particularly useful. </p>
<p>Provide users with ‘best practice’ guidelines for naming files:</p>
<ul><li>Use only letters, digits, hyphens and underscores.  No spaces, ampersands, apostrophes, parentheses, etc.  
    </li>
    <li>Keep names short and easy to read, using camel case to distinguish words (e.g.  StudentGovernmentBylaws.docx)
        </li>
    <li>When including dates in filenames, use iso 8601 date format.  This greatly enhances sorting.  (e.g. MeetingNotes_2014-03-27.docx)
        </li>
    <li>Think about how file names will sort when naming large numbers of files, e.g. considering using leading zeros to bring files to the top, or adjust numbers for sorting, e.g.
Page2.docx will often sort after Page100.docx.   Consider using ‘Page002.docx’ instead. 
        </li>
    </ul>
    <p><em>See <a target="_blank" href="https://library.stanford.edu/spc/university-archives/managing-university-records/file-naming-guidelines">Stanford Libraries’ File Naming Guidelines</a> for additional suggestions. </em></p>

<p>An example set of guidelines is provided in the table below, and is loosely based off of the 
<a href="http://bentley.umich.edu/about/what-we-do/digital-curation-strategies-and-procedures/680-2/">Bentley Historical Library "Format Conversion Strategies For Long-Term Preservation."</a>
</p>
<p>See other useful example tables at:</p>
<ul>
<li><a href="https://deepblue.lib.umich.edu/static/about/deepbluepreservation.html">University of Michigan Deep Blue Preservation and Format Support Policy</a></li>
<li><a href="http://etd.vt.edu/howto/accept.html">Virginia Tech Digital Library and Archives</a></li>
</ul>
<table class="center">
<tbody>
<tr>
<td>
<p><strong>Data Type</strong></p>
</td>
<td>
<p><strong>Preferred Formats</strong></p>
</td>
</tr>
<tr>
<td>
<p><a href="http://www.digitalpreservation.gov/formats/content/text_preferences.shtml">Text</a></p>
</td>
<td>
<p>PDF/A, PDF, Office Open XML, Microsoft Office Open XML formats</p>
</td>

</tr>
<tr>
<td>
<p><a href="http://www.digitalpreservation.gov/formats/content/video_preferences.shtml">Moving Image</a></p>
</td>
<td>
<p><a href="http://www.digitalpreservation.gov/formats/fdd/fdd000081.shtml">MPEG-4_AVC</a>, <!--<a href="http://www.digitalpreservation.gov/formats/fdd/fdd000080.shtml">MPEG-4_V</a>, <a href="http://www.digitalpreservation.gov/formats/fdd/fdd000035.shtml">MPEG-1</a>, <a href="http://www.digitalpreservation.gov/formats/fdd/fdd000059.shtml">AVI</a>,--> <a href="http://www.digitalpreservation.gov/formats/fdd/fdd000052.shtml">QuickTime</a>, <a href="http://www.digitalpreservation.gov/formats/fdd/fdd000091.shtml">WMV</a></p>
</td>
<!--<td>
<p><a href="#" data-toggle="popover" data-placement="top"  data-content="Prefer formats that are not copy-protected, contain relatively complete descriptive and technical metadata. For audio streams in MPEG-2 and -4 formats, AAC is preferred to other audio encodings.">note</a></p>
</td>-->
</tr>
<tr>
<td>
<p><a href="http://www.digitalpreservation.gov/formats/content/still_preferences.shtml">Image</a></p>
</td>
<td>
<p>TIFF</p>
</td>

</tr>
<tr>
<td>
<p><a href="http://www.digitalpreservation.gov/formats/content/sound_preferences.shtml">Sound</a></p>
</td>
<td>
<p>WAV, AIFF, ALAC</p>
</td>

</tr>
<tr>
<td>
<p>Email</p>
</td>
<td>
<p>mbox</p>
</td>
</tr>
<tr>
<td>
<p>Spreadsheet or Database</p>
</td>
<td>
<p>Comma- or tab-separated Values (.csv, .tsv, .txt)<br/>
Delimited text<br/>
SIARD: Software Independent Archiving of Relational Databases (.siard)<br/>
dBASE (.dbf) OpenDocument Spreadsheet (.ods)<br/>
MS Excel 2007+ (OOXML) (.xlsx)<br/>
</p>
</td>
</tr>
<tr>
<td>
<p>Geospatial</p>
</td>
<td>
<p>GeoTIFF (.tif)<br/>
GeoJSON (.json, .geojson)<br/>
ESRI Shapefile (making sure all component files are present) (.shp, .shx, .dbf)<br/>
</p>
</td>
</tr>
</tbody>
</table>
