<p>Ideally files for long term preservation should be in open (non-proprietary) formats, have relatively complete embedded metadata, and be on non copy-protected media. Embed metadata in files when possible.</p>
<p>For guidelines on determining sustainable formats, see : "<a href="http://www.digitalpreservation.gov/formats/index.shtml">Sustainability of Digital Formats Planning for Library of Congress Collections"</a>. The 'Content Categories' section is particularly useful. </p>
<p class="center">
    <br/><br/>
<button type="button" class="btn btn-info btn-lg " data-toggle="modal" data-target="#myModal">Table of Preferred Formats</button>
</p>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Preferred Formats for Various Data Types</h4>
      </div>
      <div class="modal-body">
      <table class="center">
<tbody>
<tr>
<td>
<p><strong>Data Type</strong></p>
</td>
<td>
<p><strong>Preferred Formats</strong></p>
</td>
</tr>
<tr>
<td>
<p><a href="http://www.digitalpreservation.gov/formats/content/text_preferences.shtml">Text</a></p>
</td>
<td>
<p>PDF/A, PDF, Office Open XML, Microsoft Office Open XML formats</p>
</td>

</tr>
<tr>
<td>
<p><a href="http://www.digitalpreservation.gov/formats/content/video_preferences.shtml">Moving Image</a></p>
</td>
<td>
<p><a href="http://www.digitalpreservation.gov/formats/fdd/fdd000081.shtml">MPEG-4_AVC</a>, <!--<a href="http://www.digitalpreservation.gov/formats/fdd/fdd000080.shtml">MPEG-4_V</a>, <a href="http://www.digitalpreservation.gov/formats/fdd/fdd000035.shtml">MPEG-1</a>, <a href="http://www.digitalpreservation.gov/formats/fdd/fdd000059.shtml">AVI</a>,--> <a href="http://www.digitalpreservation.gov/formats/fdd/fdd000052.shtml">QuickTime</a>, <a href="http://www.digitalpreservation.gov/formats/fdd/fdd000091.shtml">WMV</a></p>
</td>
<!--<td>
<p><a href="#" data-toggle="popover" data-placement="top"  data-content="Prefer formats that are not copy-protected, contain relatively complete descriptive and technical metadata. For audio streams in MPEG-2 and -4 formats, AAC is preferred to other audio encodings.">note</a></p>
</td>-->
</tr>
<tr>
<td>
<p><a href="http://www.digitalpreservation.gov/formats/content/still_preferences.shtml">Image</a></p>
</td>
<td>
<p>TIFF</p>
</td>

</tr>
<tr>
<td>
<p><a href="http://www.digitalpreservation.gov/formats/content/sound_preferences.shtml">Sound</a></p>
</td>
<td>
<p>WAV, AIFF, ALAC</p>
</td>

</tr>
<tr>
<td>
<p>Email</p>
</td>
<td>
<p>mbox</p>
</td>
</tr>
<tr>
<td>
<p>Spreadsheet or Database</p>
</td>
<td>
<p>Comma- or tab-separated Values (.csv, .tsv, .txt)<br/>
Delimited text<br/>
SIARD: Software Independent Archiving of Relational Databases (.siard)<br/>
dBASE (.dbf) OpenDocument Spreadsheet (.ods)<br/>
MS Excel 2007+ (OOXML) (.xlsx)<br/>
</p>
</td>
</tr>
<tr>
<td>
<p>Geospatial</p>
</td>
<td>
<p>GeoTIFF (.tif)<br/>
GeoJSON (.json, .geojson)<br/>
ESRI Shapefile (making sure all component files are present) (.shp, .shx, .dbf)<br/>
</p>
</td>
</tr>
</tbody>
</table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<br/><br/>

