<p>In moving from Level 2 to Level 3, we adjust our production workflows to accommodate the capture of both technical and descriptive metadata. &nbsp;There are different schools of thought as to where to store the generated metadata, but in lieu of an strong digital preservation infrastructure, we recommend embedding both technical and descriptive metadata within the file header. &nbsp;This will ensure that the file will still be &ldquo;knowable&rdquo; should it get separated from its original context. &nbsp;Please note, when capturing with a D-SLR camera, many technical metadata attributes are automatically captured within the file-header. &nbsp;</p>
<p><em>Technical metadata</em></p>
<p>Information about how the file was created, its format, whether it be born digital or analog to digital capture. &nbsp;This can include scanner/camera information; color space/ profiles; capture date; operator; and any inhibitors to the file.<br /><br /></p>
<p><em>Descriptive metadata &nbsp;</em></p>
<ul>
<li>Descriptive Metadata enables identification, location and retrieval of information resources by users, often including the use of controlled vocabularies for classification and indexing and links to related resources. (DCC citation) </li>
</ul>
<p>Tools:</p> <ul>
<li>Still image metadata: Adobe Bridge <br />
<a href="http://exiftool.sourceforge.net/">Exif tool</a> and <a href="https://hvdwolf.github.io/pyExifToolGUI/">https://hvdwolf.github.io/pyExifToolGUI/</a> (visual layer for Exif tool)</li>
<li>Audio files:<br />&nbsp;&nbsp;&nbsp; <a href="http://bwfmetaedit.sourceforge.net/">http://bwfmetaedit.sourceforge.net/</a></li>
</ul>