<p>In moving from Level 2 to Level 3, we adjust our digital production and digital archiving workflows to accommodate the capture of both technical and descriptive metadata.  Given that “provenance” takes on a greater significance within the born-digital world, we recommend taking different approaches for a digitization workflow versus a digital archiving workflow.  </p>
<p>Within a digital production workflow (converting analog material to digital), we recommend embedding both technical and descriptive metadata within the file header.  This will ensure that the file will still be “knowable” should it get separated from its original context.  Please note, when capturing with a D-SLR camera, many technical metadata attributes are automatically captured within the file-header.</p>
<p>  Within a digital archiving workflow, we recommend generating <a target="_blank" href="https://en.wikipedia.org/wiki/README">read-me txt files</a> within the same directory as you store the digital data (similar to how you might be storing your administrative data).  This will ensure that important provenance information will not be accidentally overwritten through embedded metadata.  </p>
<p><em>Technical metadata</em></p>
<ul>
<li>Information about how the file was created, its format, whether it be born digital or analog to digital capture. This can include scanner/camera information; color space/ profiles; capture date; operator; and any inhibitors to the file.</li>
</ul>
<p><em>Descriptive metadata &nbsp;</em></p>
<ul>
<li>Descriptive Metadata enables identification, location and retrieval of information resources by users, often including the use of controlled vocabularies for classification and indexing and links to related resources. (DCC citation) </li>
</ul>
<h4>Tools:</h4> 
<p>Still image metadata:</p>
<ul>
<li> Adobe Bridge </li>>
<li><a href="http://exiftool.sourceforge.net/">Exif tool</a> and <a href="https://hvdwolf.github.io/pyExifToolGUI/">https://hvdwolf.github.io/pyExifToolGUI/</a> (visual layer for Exif tool)</li>
</ul>
<p>Audio files:</p>
<ul>
<li>&nbsp;&nbsp;&nbsp; <a href="http://bwfmetaedit.sourceforge.net/">http://bwfmetaedit.sourceforge.net/</a></li>
</ul>