<p>Digital preservation metadata begins with establishing a basic inventory of your digital materials, and escalates to generating fully fledged PREMIS metadata within a robust digital preservation system.  By establishing a commitment to stewardship of your digital files at the start of your projects and program, you can position yourself for the long-term maintenance of your digital assets, regardless of your current infrastructure.  And if you already have a significant backlog of materials to preserve, there are also simple things you can do to describe and organize your content in anticipation of a cohesive digital preservation strategy. </p>  

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">What is preservation metadata, and why do I need it? </button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Digital Preservation Basics</h4>
      </div>
      <div class="modal-body">
        <p>Preserving digital objects over time requires an amalgam of different metadata standards, including technical, administrative, and descriptive metadata, as well as PREMIS metadata (which, simply put, documents everything that happens to a file during its lifetime). </p>
        <h4>Technical metadata</h4>
        <p>Information about how the file was created, its format, whether it be born digital or analog to digital capture. &nbsp;This can include scanner information; color space/ profiles; capture date; operator; and any inhibitors to the file.</p>
      <h4>Descriptive metadata </h4>

        <p>Descriptive Metadata enables identification, location and retrieval of information resources by users, often including the use of controlled vocabularies for classification and indexing and links to related resources.</p> <h4>Administrative metadata</h4>
        <p>Administrative Metadata is used to manage administrative aspects of the digital object such as intellectual property rights and acquisition. Administrative Metadata also documents information concerning the creation, alteration and version control of the metadata itself. This is sometimes known as meta-metadata!  <p>
      <h4>PREMIS metadata</h4>
        <p>PREMIS metadata captures the history of the digital object, including </p>
        <ul>
        <li>Provenance: <em>Who has had custody/ownership of the digital object?</em></li>
        <li>Authenticity: <em>Is the digital object what it purports to be?</em></li>
        <li>Preservation Activity: <em>What has been done to preserve the digital object?</em></li>
        <li>Technical Environment: <em>What is needed to render and use the digital object?</em></li>
        <li>Rights Management: <em>What IPR must be observed?</em></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<br/><br/>
