<p>Before diving in, we&rsquo;d like to suggest that perfection is the enemy of the good when it comes to preservation metadata. It can be intimidating to try to parse out what is needed to adhere to recommended PREMIS standards. &nbsp;It can also be challenging if you don&rsquo;t have a digital preservation infrastructure to support your work. &nbsp;Fear not, there are things that you can begin right away to position yourself for an eventual digital preservation infrastructure. <br /> <br />Basics:</p>
<p><em>What is preservation metadata, and why do I need it? </em></p>
<p>Preserving digital objects over time requires an amalgam of different metadata standards, including technical, administrative, and descriptive metadata, as well as PREMIS metadata (which, simply put, documents everything that happens to a file during its lifetime). </p>
<p><em>Technical metadata</em></p>
<p>Information about how the file was created, its format, whether it be born digital or analog to digital capture. &nbsp;This can include scanner information; color space/ profiles; capture date; operator; and any inhibitors to the file.<br /><br /></p>
<p><em>Descriptive metadata &nbsp;</em></p>
<ul>
<li>Descriptive Metadata enables identification, location and retrieval of information resources by users, often including the use of controlled vocabularies for classification and indexing and links to related resources. (DCC citation) <br /><br /><em>Administrative metadata</em></li>
<li>Administrative Metadata is used to manage administrative aspects of the digital object such as intellectual property rights and acquisition. Administrative Metadata also documents information concerning the creation, alteration and version control of the metadata itself. This is sometimes known as meta-metadata! (DCC citation) <br /><em>PREMIS metadata</em><em><br /></em>PREMIS metadata captures the history of the digital object, including </li>
<ul>
<li>Provenance: <em>Who has had custody/ownership of the digital object?</em></li>
<li>Authenticity: <em>Is the digital object what it purports to be?</em></li>
<li>Preservation Activity: <em>What has been done to preserve the digital object?</em></li>
<li>Technical Environment: <em>What is needed to render and use the digital object?</em></li>
<li>Rights Management: <em>What IPR must be observed?</em></li>
</ul>