---
layout: default
---




<div class="row">
  	<div class="row">
     
<br/>
				<div class="col-lg-4 col-md-4 col-sm-12 callout center">
	<h1 class="center front-glyph"><a href="instructions.html"><span class="glyphicon glyphicon-search"></span></a></h1>
					<h2 class="center">Assess</h2>
      <p>Use the NDSA's <a href="#levels">Levels of Digital Preservation</a> to assess your digital preservation practice 
      "levels" in various areas. </p>
				</div><!-- col-lg-4 -->
					
				<div class="col-lg-4 col-md-4  callout center">
					<h1 class="center front-glyph"><a href="fixity.html"><span class="glyphicon glyphicon-road"></span></a></h1>
					<h2 class="center">Take Steps</h2>
          <p>Identify areas where your institution can improve and determine the steps necessary to move from your present level to the next.  </p>
				</div><!-- col-lg-4 -->	
				
				<div class="col-lg-4 col-md-4 callout center">
					<h1 class="center front-glyph"><a href="policy.html"><span class="glyphicon glyphicon-check"></span></a></h1>
          <h2 class="center">Progress</h2>
          
					<p> Follow the small, concrete steps provided here to improve the digital preservation practices of your institution. </p>
				</div><!-- col-lg-4 -->	
			</div>
		<!-- -->
     <hr />
          <div class="col-lg-8 col-lg-offset-2 col-sm-12" >
       
      
    <h2>About</h2>
  <div style="font-size:17px; font-weight:100">
       {% include about.html %}
       </div>
</div>
       	<div class="col-lg-8 col-lg-offset-2 col-sm-12" >
        
			
			<br/><br/>
    
       	<a href="instructions.html"><button type="button" class="btn btn-default btn-lg centered col-md-8 col-md-offset-2">Asessement Instructions</button></a>
        <br/><br/> 
        <br/>
        
     
 	<a href="fixity.html"><button type="button" class="btn btn-default btn-lg centered col-md-6 col-md-offset-1">File Fixity &amp; Data Integrity</button></a><a href="fixity-deep.html"><button type="button" class="btn btn-default btn-lg centered col-md-4">File Fixity - In Depth</button></a>
       <br><br>
          
        
          
          	<a href="formats.html"><button type="button" class="btn btn-default btn-lg centered col-md-8 col-md-offset-2">File Formats</button></a>
       <br><br>
          
        
          
        
          
        
          
        
          
          	<a href="metadata.html"><button type="button" class="btn btn-default btn-lg centered col-md-8 col-md-offset-2">Metadata</button></a>
       <br><br>
          
        
          
        
          
        
          
          	<a href="security.html"><button type="button" class="btn btn-default btn-lg centered col-md-8 col-md-offset-2">Information Security</button></a>
       <br><br>
          
        
          
          	<a href="storage.html"><button type="button" class="btn btn-default btn-lg centered col-md-8 col-md-offset-2">Storage &amp; Geographic Location</button></a>
       <br><br>
          
        
          
         <br/>
         
			<a href="policy.html"><button type="button" class="btn btn-default btn-lg centered col-md-8 col-md-offset-2">Build a Digital Preservation Policy</button></a>
     </div>
  </div>






