---
layout: default
---

<div class="row">
			<div class="col-lg-8">

			 {{ content }}
<br/ >

<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf3CfHy4TZZWHiLOzmfCFDP2S756sx8bBGGU-7ihVrg05i5kA/viewform?usp=sf_link"><button type="button" class="btn btn-info btn-lg" >Digital Preservation Activities Checklist</button></a>
 <!-- <div class="modal-dialog">

   <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Digital Preservation Activities Checklist</h4>
      </div>
      <div class="modal-body">
<p>This section covers the details of “how” the program operates, and should lay out how an organization can meet or work to meet various levels of the NDSA’s Levels of Digital Preservation]. It is meant to be addressed before a policy is put in place. </p>

<h4 id="storage-and-geographic-location"><a href="storage.html">Storage and Geographic Location</a>:</h4>

<ul>
  <li>Where are your files kept physically?</li>
  <li>Are they located on internal hard drives, or at a remote location? Both?</li>
  <li>How often are your files backed up?</li>
</ul>

<h4 id="file-fixity-and-data-integrity"><a href="fixity.html">File Fixity and Data Integrity</a>:</h4>

<p>“File Fixity is a digital preservation term referring to the property of a digital file being fixed, or unchanged. … Within the repository, fixity checking is used to ensure that digital files have not been affected by data rot or other digital preservation dangers.” (Wikipedia)</p>

<ul>
  <li>How often files are checked for fixity (data rot and data loss) and data integrity?</li>
  <li>What program do you use to perform fixity checks?</li>
</ul>

<h4 id="security"><a href="security.html">Security</a>:</h4>

<ul>
  <li>Who has access to the archival materials?</li>
  <li>What is the chain of command for read, write, delete, and move authority?</li>
  <li>Who makes changes to files or formats? What are the procedures for documenting any change?</li>
</ul>

<h4 id="metadata"><a href="metadata.html">Metadata</a>:</h4>

<ul>
  <li>What are the metadata procedures your institution or program abides by?</li>
  <li>What types of metadata do you keep?(options: transformative, administrative, descriptive, and technical)</li>
</ul>

<h4 id="file-formats"><a href="formats.html">File Formats</a></h4>

<ul>
  <li>How many of each file format do you have?, be specific to the types of files (text, moving image, still image, audio, etc.).</li>
  <li>What are the naming conventions for your files? Are there any exceptions to the naming rules?</li>
  <li>What is the plan, schedule, and selected software component for any necessary format migrations that can be perceived down the line?</li>
  <li>What is schedule for assessing file outdatedness? How often are files updated once format migration is decided?</li>
</ul>
 </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>-->




     </div>
    <div class="col-lg-4 pull-right">
			<br />
			<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfbI6PxmXgLBai5Bz_SchaZFr5hRijqO7mPGJRoq37VE_DqYg/viewform"><button type="button" class="btn btn-success btn-lg centered col-md-12">Policy Generator!</button></a>
				<br />	<br /><br /><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf3CfHy4TZZWHiLOzmfCFDP2S756sx8bBGGU-7ihVrg05i5kA/viewform?usp=sf_link"><button type="button" class="btn btn-default btn-lg centered col-md-12">Activities Checklist</button></a>
						<br />		<br />	<br />
    <div class="panel panel-default ">
  <div class="panel-heading">
		<h3 class="panel-title">Additional Resources</h3>
  </div>
  <div class="panel-body">
  <ul>
{% for resource in site.data.plan %}
  <li>
    <a href="{{resource.url}}">{{ resource.title }}</a>
     </li>
{% endfor %}
</ul>

  </div>
</div>
</div>
</div>
