---
layout: default
---

<div class="row">
			<div class="col-lg-8">

			 {{ content }}
     </div>
    <div class="col-lg-4 pull-right">
			<br />
			<button type="button" class="btn btn-success btn-lg centered col-md-12" href="plan-generator.html">Plan Generator!</button>
				<br />
						<br />		<br />
    <div class="panel panel-default ">
  <div class="panel-heading">
		<h3 class="panel-title">Additional Resources</h3>
  </div>
  <div class="panel-body">
  <ul>
{% for resource in site.data.plan %}
  <li>
    <a href="{{resource.url}}">{{ resource.title }}</a>
     </li>
{% endfor %}
</ul>

  </div>
</div>
</div>
</div>
