---
layout: default
---

<div class="row">
			<div class="col-lg-8">

			 {{ content }}
<br/ >

<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf3CfHy4TZZWHiLOzmfCFDP2S756sx8bBGGU-7ihVrg05i5kA/viewform?usp=sf_link"><button type="button" class="btn btn-info btn-lg" >Digital Preservation Activities Checklist</button></a>
 



     </div>
    <div class="col-lg-4 pull-right">
			<br />
			<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfbI6PxmXgLBai5Bz_SchaZFr5hRijqO7mPGJRoq37VE_DqYg/viewform"><button type="button" class="btn btn-success btn-lg centered col-md-12">Policy Generator!</button></a>
				<br />	<br /><br /><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf3CfHy4TZZWHiLOzmfCFDP2S756sx8bBGGU-7ihVrg05i5kA/viewform?usp=sf_link"><button type="button" class="btn btn-default btn-lg centered col-md-12">Activities Checklist</button></a>
						<br />		<br />	<br />
 <div class="panel panel-default ">
  <div class="panel-heading">
		<h3 class="panel-title">Examples</h3>
  </div>
  <div class="panel-body">
  <ul>
{% for resource in site.data.exampleplans %}
  <li>
    <a href="{{resource.url}}">{{ resource.title }}</a>
     </li>
{% endfor %}
</ul>

  </div>
</div>   
    <div class="panel panel-default ">
  <div class="panel-heading">
		<h3 class="panel-title">Guidelines and Resources</h3>
  </div>
  <div class="panel-body">
  <ul>
{% for resource in site.data.plan %}
  <li>
    <a href="{{resource.url}}">{{ resource.title }}</a>
     </li>
{% endfor %}
</ul>

  </div>
</div>
</div>
</div>
